@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.input-field {
  @apply
    text-base
    font-normal
    text-gray-700
    bg-white bg-clip-padding
    border border-solid border-gray-300 rounded 
    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
    transition ease-in-out;
}

.btn {
  @apply
    text-white uppercase
    rounded-md shadow-md
    bg-gray-500
    hover:bg-gray-700 hover:shadow-lg    
    focus:bg-gray-700 focus:shadow-lg focus:outline-none focus:ring-0 
    active:bg-gray-800 active:shadow-lg
    transition duration-150 ease-in-out;
}

.btn-primary {
  @apply 
    bg-blue-600
    hover:bg-blue-700 hover:shadow-lg
    focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg;
}

.btn-secondary {
  @apply 
    bg-red-600 
    hover:bg-red-700 hover:shadow-lg
    focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-red-800 active:shadow-lg;
}

.link {
  @apply hover:text-blue-700;
}

h1{
  @apply text-[26px]
}

h2{
  @apply text-[24px]
}

h3{
  @apply text-[22px]
}

h4{
  @apply text-[20px]
}

h5{
  @apply text-[18px]
}

h6{
  @apply text-[16px]
}
